/*============================
========= CSS RESET ========*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*=================================
============== GRID =============*/

* ,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container,
.grid {
    width: 1140px;
    margin: 0 auto;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}


.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}



/*===========================
CUSTOM STYLES
===========================*/


body {
    color: rgb(19, 19, 19);
    font: 300 16px/22px 'Sen', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url(../images/Home/programmer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4 {
    color: #11b8ce;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #0963a3;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

hr {
    margin-top: 23px;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

a:hover {
    color: #a9b2b9;
}

a {
    color: #11b8ce;
    text-decoration: none;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.logo {
    margin-top: 7px;
    border-top: 4px solid #11b8ce;
    float: left;
    font-size: 40px;
    line-height: 10px;
    padding: 40px 0 22px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 100;
}


.tagline {
    text-align: right;
    margin-top: 7px;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.primary-footer {
    color: #11b8ce;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}

.nav {
    text-align: right;
}

.teaser a:hover h3 {
    color: #e49e06;
    transition: 0.8s;
}


/*=============================
========== BUTTONS ==========*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5px;
    color: #fff;
}

.btn-alt {
    border-radius: 1px solid #dfe2e5;
    padding: 1px 20px;
    background-color: #e49e06;
    border: 1px solid #e49e06;
}

.btn-alt:hover {
    color: #fff;
    transition:1s;
    background-color: transparent;
    border: 1px solid #fff;
    color: #11b8ce;
}

.btn-default {
    border: 0;
    background: #11b8ce;
    padding: 11px;
    font-size: 14px;
    margin: 7px 20px;
    margin-bottom: 30px;
}

.btn-default:hover {
    background: #e49e06;
    transition: 0.8s;
}


/*=======================
HOME
=======================*/

.hero {
    padding: 22px 80px 66px 80px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

.row {
    background: #fff;
    min-width: 1140px;
    padding:66px 0 44px 0;
}

.row,
.row-alt {
    min-width: 1140px;
}

.teaser img {
    max-width: 100%;
    display: block;
    margin-bottom: 22px;
    border-radius: 5px;
}

/* .row-alt {
    background: #cbe2e1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
} */


/*======================
HEADER STYLING
======================*/

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #11b8ce;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/*========================
INTERNAL PAGES
========================*/

.lead {
    text-align: center;
}

.lead p {
    font-size: 21px;
    line-height: 33px;
}



/*========================
Speakers
========================*/

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 110px;
    padding-bottom: 22px;
    text-align: center;
}

.speaker {
    margin-bottom: 44px;
}

.speaker-info img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

#shay-howe {
    margin-bottom: 80px;
}



/*=========================
Venue page
========================*/

.venue-theatre {
    margin-bottom: 66px;
}

.venue-hotel {
    margin-bottom: 22px;
}

.venue-map {
    height: 264px;
}


/*========================
Registration
=======================*/

.why-attend {
    list-style: square;
    margin: 0 0 22px 30px;
}

input, select, textarea {
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.register-group input,
.register-group select,
.register-group textarea {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.register-group input,
.register-group textarea {
    width: 100%;
}

.register-group select {
    height: 34px;
    width: 60px;
}

.register-group textarea {
    height: 78px;
}

form {
    border: 1px solid rgb(182, 178, 178);
    border-radius: 5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
                      0 0 0 2px rgb(255, 255, 255),
                      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

fieldset {
    margin: 30px 20px;
}


/*=======================
Schudules
=======================*/

table {
    margin-bottom: 44px;
    width: 100%;
}

table:last-child {
    padding-bottom: 0;
}

th, td {
    padding-bottom: 22px;
    vertical-align: top;
}

th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
}

td {
    width: 40%;
}

th {
    line-height: 44px;
}

thead th {
    color: #648880;
    font-size: 24px;
}

tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
}

tbody td:first-of-type {
    padding-right: 15px;
}

tbody td:last-of-type {
    padding-left: 15px;
}

tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}

table a {
    color: #888;
}

table h4 {
    margin-bottom: 0;
}

.schedule-offset {
    color: #a9b2b9;
}
